*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    height: 100vh;
}
.avatars{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px,0);
    -webkit-transform: translate(100px,0);
    -moz-transform: translate(100px,0);
    -ms-transform: translate(100px,0);
    -o-transform: translate(100px,0);
}
.avatars .avatar-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.avatars .avatar-img:nth-child(2){
    transform: translate(-100px,0);
    -webkit-transform: translate(-100px,0);
    -moz-transform: translate(-100px,0);
    -ms-transform: translate(-100px,0);
    -o-transform: translate(-100px,0);
}
.avatars .avatar-img:nth-child(3){
    transform: translate(-200px,0);
    -webkit-transform: translate(-200px,0);
    -moz-transform: translate(-200px,0);
    -ms-transform: translate(-200px,0);
    -o-transform: translate(-200px,0);
}
.avatars .avatar-img:hover:is(.avatar-img:nth-child(1) , .avatar-img:nth-child(2)){
    margin-right: 120px;
}
.avatars .avatar-img:hover{
    box-shadow: 0 0 5px 5px pink;
}